.gitignore
# Ignore personal files
*.pdf
*.docx
*.txt
*.jpg
*.lnk
*.csv
*.py
desktop.ini
happiness_cleaned.csv

# Ignore folders
bhanu arcade/
Skillbanc-App-main/
Hyderabad-GitHub-Users/
discourse-topics/
manim-templates/
preetham/
relational/
s-anand/
# Ignore boundary files
DISTRICT_BOUNDARY.*

# Ignore directories
Preetham IITM/
Skillbanc_files/
icfai/
movie_dataset/
ODI_data/

personal_blog
and fix visualization issues…
